################
#* Example environment variables for development setup
#  Copy this file to `.env` in the same directory and fill in or replace the values.
#  cp .local.dev.env.example .env
#  DO NOT ADD THE COPIED FILE TO VERSION CONTROL!
################

## Application

DATABASE_URL=...
MODE=development
TIMEZONE=UTC
COINGECKO_DEMO_API_KEY=...
ALPHAVANTAGE_API_KEY=...